<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>완주군 마을통합마케팅 포털</title>

   
    <meta name="csrf-token" content="{{ csrf_token }}">

    <script type="module">
        import RefreshRuntime from 'http://127.0.0.1:5173/@react-refresh'
        if (RefreshRuntime) {
            RefreshRuntime.injectIntoGlobalHook(window)
            window.$RefreshReg$ = () => {}
            window.$RefreshSig$ = () => (type) => type
            window.__vite_plugin_react_preamble_installed__ = true
        }
    </script>

     {% csrf_token %}
    
</head>

<body class="antialiased">
    <script id="inertia-data" type="application/json">
        {{ page|safe }}
    </script>

    <div id="app"></div>

    <script type="module" src="http://127.0.0.1:5173/@vite/client"></script>
    <script type="module" src="http://127.0.0.1:5173/src/main.jsx"></script>
</body>
</html>